.table-container {
    max-height: 70vh;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    border-radius: 8px;
    height: 20vh;
    max-height: 20vh;
    overflow-y: auto;

    thead {
        position: sticky;
        top: 0;
    }

    th, td {
        padding: 12px;
        text-align: center;
    }
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}